header, body, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

input[type="search"] {
    height: 64px !important; /* or height of nav */
}

.isActiveLi {
    background-color: #546e7a;
    border-left-style: solid;
    border-left-color: #42a5f5;
    border-left-width: 5px;
}

.isActiveA {
    margin-left: -5px;
}

.isActiveIcon {
    color: #42a5f5 !important;
}

.cardLink {
    color: rgba(0, 0, 0, 0.87);
}

.picture {
    height: 48px;
    float: right;
    margin-top: 8px;
    margin-left: 8px;
}

.myCardTitle {
    font-size: 20px;
    font-weight: bold;
}

.myContainer {
    margin-left: 50px;
    margin-right: 150px;
}

.package-logo {
    height: 128px;
}

.isPageActiveLi {
    background-color: #3b86ff;
}