header, body, footer {
    padding-left: 300px;
}

.error {
    color: red;
}

@media only screen and (max-width : 992px) {
    header, body, footer {
        padding-left: 0;
    }

    input[type="search"] {
        height: 56px !important; /* or height of nav */
    }
}

@media only screen and (min-width: 993px) {
    input[type="search"] {
        height: 64px !important; /* or height of nav */
    }
}

.cardLink {
    color: rgba(0, 0, 0, 0.87);
}

.isActiveLi {
    background-color: #546e7a;
    border-left-style: solid;
    border-left-color: #42a5f5;
    border-left-width: 5px;
}

.isActiveA {
    margin-left: -5px;
}

.isActiveIcon {
    color: #42a5f5 !important;
}

.picture {
    height: 48px;
    margin-top: 0.8vh;
    margin-left: 8px;
    margin-right: -15px;
}

.picture-large {
    height: 128px;
    margin-right: 15px;
}

.myCardTitle {
    font-size: 20px !important;
    font-weight: bold !important;
}

.myContainer {
    margin-left: 50px;
    margin-right: 50px;
}

.package-logo {
    height: 128px;
    width: 128px;
    margin-top: 10px!important;
    margin: 5px;
}

.isPageActiveLi {
    background-color: #3b86ff;
}